.icon {
  position: absolute;
  top: 40%;
  left: 50%;
  border-radius: 50%;
  border: 8px solid #1890ff;
  width: 8px;
  height: 8px;
  font-size: 8px;
}

.icon::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -27px;
  left: -8px;
  border: 8px solid transparent;
  border-top: 17px solid #1890ff;
}

.InformationBoard{
  position: relative;
  left: 76%;
  top: -93%;
  height: 300px;
  width: 350px;
  background-color: #1890ff;
  border-radius: 2%;
  padding: 20px;
  overflow: hidden;
}
.InformationBoard div{
  color: white;
  margin-top: 20px;
}